.header {
    position: relative;
    height: 40px;
    text-align: center;
    }

    .header__title {
        font: 17px/34px 'Comfortaa', Helvetica, Arial, sans-serif;
        }

    .header__menu {
        float: right;
        }

    .header__level {
        position: absolute;
        top: 4px;
        left: 12px;
        font: 10px/24px 'ComfortaaBold', Helvetica, Arial, sans-serif;
        width: 22px;
        height: 22px;
        border: 2px solid #8caab2;
        border-radius: 13px;
        color: #3e6372;
        }

    .header__progress {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 4px;
        background: #8caab2;
        padding: 1px;
        }

        .header__progress-val {
            height: 4px;
            background: #3e6372;
            border-radius: 2px;

            width: 34%;
            }