.dg-customization__marker {}

.dg-customization__marker_type_mushroom {
    &,
    &:hover,
    &:before {
        width: 29px !important;
        height: 42px !important;
        background-repeat: no-repeat;
        background: url('images/marker.png') 0 0 no-repeat transparent !important;
        background-size: 29px 42px !important;
        }
    }
