.achievements {
    width: 100%;
    font-size: 0;
    white-space: normal;
    }

    .achievements__item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        height: 160px;
        background: #4b7281;
        cursor: pointer;

        &:nth-child(16n - 15) {
            background: #4b7281;
            }
        &:nth-child(16n - 14) {
            background: #476c7a;
            }
        &:nth-child(16n - 13) {
            background: #436674;
            }
        &:nth-child(16n - 12) {
            background: #40616e;
            }
        &:nth-child(16n - 11) {
            background: #3d5c68;
            }
        &:nth-child(16n - 10) {
            background: #3a5763;
            }
        &:nth-child(16n - 9) {
            background: #37535e;
            }
        &:nth-child(16n - 8) {
            background: #344f59;
            }
        &:nth-child(16n - 7) {
            background: #344f59;
            }
        &:nth-child(16n - 6) {
            background: #37535e;
            }
        &:nth-child(16n - 5) {
            background: #3a5763;
            }
        &:nth-child(16n - 4) {
            background: #3d5c68;
            }
        &:nth-child(16n - 3) {
            background: #40616e;
            }
        &:nth-child(16n - 2) {
            background: #436674;
            }
        &:nth-child(16n - 1) {
            background: #476c7a;
            }
        &:nth-child(16n - 1) {
            background: #476c7a;
            }
        &:nth-child(16n) {
            background: #4b7281;
            }
        }

        .achievements__itemIcon {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            // background-color: inherit;
            background: url(images/a_01.png) center center no-repeat;
            background-size: 44px 63px;
            -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
            transition: all .4s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            .achievements__item._flipped & {
                -webkit-transform: perspective(800px) rotateY(-180deg);
                transform: perspective(800px) rotateY(-180deg);
                }
            }

        .achievements__itemDesc {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            color: #fff;
            padding: 40px 20px 0;
            -webkit-transform: perspective(800px) rotateY(180deg);
            transform: perspective(800px) rotateY(180deg);
            transition: all .4s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            .achievements__item._flipped & {
                -webkit-transform: perspective(800px) rotateY(0);
                transform: perspective(800px) rotateY(0);
                }
            }

            .achievements__itemDescTitle {
                font: bold 17px/20px 'Comfortaa', Helvetica, Arial, sans-serif;
                margin: 0 0 15px;
                }

            .achievements__itemDescText {
                font: 17px/20px 'Comfortaa', Helvetica, Arial, sans-serif;
                }