/* Buttons */
.btn,
.btn:visited {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 20px 1px;
    border-radius: 4px;
    font: 13px/25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
    color: #000;
    background: #e9e9e9;
    border: 0;
    border-bottom: 1px solid #ccc;
    transition:
        background .1s ease,
        color .1s ease;

    &:hover {
        background: #efefef;
        }
    &:active {
        // background: #898e94;
        // color: #fff;
        background: linear-gradient(to top, #eee, #ccc);
        box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .5);
        }
    &:focus {
        outline: none;
        }

    &._l {
        width: 100%;
        height: 64px;
        text-align: center;
        }

    &._icon_download:before {
        font: 24px/64px "fontello";
        color: #333;
        content: '\e801';
        }
    &._icon_play:before {
        font: 24px/64px "fontello";
        color: #333;
        content: '\e800';
        }
    }