.register {
    position: relative;
    min-height: 100%;
    height: 100%;
    }

    .register__in {
        border-top: 5px solid #3e6372;
        padding: 25px 0 200px;
        }

        .register__logo {
            margin: 30px auto 25px;
            width: 110px;
            height: 110px;
            background: url('images/register-socrate.png') 0 0 no-repeat transparent;
            background-size: 110px 110px;
            }

        .register__email {
            width: 260px;
            margin: 0 auto 25px;
            position: relative;
            }
            .register__emailSelf {
                width: 260px;
                height: 50px;
                padding: 13px 20px 13px 40px;
                font: 17px/25px 'Comfortaa', Helvetica, Arial, sans-serif;
                color: #fff;
                background: #b2d4dc;
                border: 0;
                border-radius: 2px;
                text-align: center;

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #fff;
                    }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #fff;
                    opacity: 1;
                    }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #fff;
                    opacity: 1;
                    }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #fff;
                    }

                &:focus {
                    outline: none;
                    text-align: left;
                    }
                }
            .register__emailIcon {
                background: url('images/input-profile.png') 0 0 no-repeat transparent;
                background-size: 14.5px 22.5px;
                width: 14.5px;
                height: 22.5px;
                position: absolute;
                left: 92px;
                top: 13px;
                }
            .register__emailSelf:focus + .register__emailIcon {
                left: 18.5px;
                }

        .register__social {
            width: 260px;
            margin: 0 auto;
            text-align: justify;

            &:after {
                display: inline-block;
                width: 100%;
                content: '';
                }
            }

            .register__socialItem {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 46%;
                height: 50px;
                cursor: pointer;
                margin: 0 0 25px;
                border-radius: 2px;

                &._tw {
                    background: url(images/social_tw.png) center / 24px 19.5px no-repeat #55acee;
                    }
                &._fs {
                    background: url(images/social_fs.png) center / 18.5px 25px no-repeat #f94877;
                    }
                &._fb {
                    background: url(images/social_fb.png) center / 11.5px 24.5px no-repeat #3b5998;
                    }
                &._vk {
                    background: url(images/social_vk.png) center / 15.5px 20.5px no-repeat #336d8f;
                    }

                &:hover {
                    opacity: .8;
                    }
                }

        .register__submit {
            display: block;
            width: 260px;
            height: 50px;
            padding: 13px 20px 13px 20px;
            font: 17px/24px 'Comfortaa', Helvetica, Arial, sans-serif;
            color: #fff;
            background: #3e6372;
            border: 0;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            margin: 0 auto;

            &:hover {
                opacity: .8;
                }
            }

        .register__tip {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background: #b2d4dc;
            border-top: 5px solid #a0bec6;
            padding: 15px 40px;
            font: 12px/14px 'Comfortaa', Helvetica, Arial, sans-serif;
            }
