html,
body {
    height: 100%;
    }

body {
    font: 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    }

button {
    -webkit-font-smoothing: antialiased;
    }