@font-face {
    font-family: 'icons';
    src: url('fonts/icon-works-webfont.eot');
    src: url('fonts/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/icon-works-webfont.woff') format('woff'),
         url('fonts/icon-works-webfont.ttf') format('truetype'),
         url('fonts/icon-works-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/fonts/Comfortaa-Light.eot');
    src: url('fonts/fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Comfortaa-Light.woff') format('woff'),
         url('fonts/Comfortaa-Light.ttf') format('truetype'),
         url('fonts/Comfortaa-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'ComfortaaReg';
    src: url('fonts/fonts/comfortaa-regular-webfont.eot');
    src: url('fonts/fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('fonts/comfortaa-regular-webfont.ttf') format('truetype'),
         url('fonts/comfortaa-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'ComfortaaBold';
    src: url('fonts/fonts/comfortaa-bold-webfont.eot');
    src: url('fonts/fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('fonts/comfortaa-bold-webfont.ttf') format('truetype'),
         url('fonts/comfortaa-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }