.pages {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    }

    .pages__viewport {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 48px;
        left: -1px;
        overflow: hidden;
        }

        .pages__viewportLayer {
            position: relative;
            width: 100%;
            height: 100%;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-property: left, -webkit-transform;
            transition-property: left, transform;
            transition-timing-function: cubic-bezier(0.1, 0, .25, 1);
            transition-duration: .24s;
            z-index: 0;
            }

            .pages__viewportLayerSlide {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                text-align: center;
                white-space: nowrap;

                &._html:before,
                &._html:after {
                    display: none;
                    }
                }

    .pages__thumbs {
        position: absolute;
        height: 48px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0;
        background: #3e6372;
        }

        .pages__thumbsLayer {
            position: relative;
            width: 100%;
            height: 100%;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition-property: left, -webkit-transform;
            transition-property: left, transform;
            transition-timing-function: cubic-bezier(0.1, 0, .25, 1);
            transition-duration: .24s;

            ._noeffects & {
                transition-duration: 0s;
                }
            }

            .pages__thumbsLayerItem {
                display: inline-block;
                vertical-align: top;
                width: 25%;
                height: 100%;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                outline: none;
                cursor: pointer;
                margin: 0;

                &:active {
                    background: rgba(0, 0, 0, .1);
                    }

                // Icons
                &:before {
                    text-align: center;
                    font: 25px/48px 'icons';
                    color: #7c99a1;
                    transition: color .3s ease;
                    }
                &._0:before {
                    content: '/';
                    }
                &._1:before {
                    content: '*';
                    }
                &._2:before {
                    content: 'v';
                    }
                &._3:before {
                    content: '(';
                    }

                // Highlight
                &:hover:before,
                &._current:before {
                    color: #fafaff
                    }
                }

/* Во время перетаскивания */
.pages._dragging {
    .pages__viewportControl {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;

        &Prev,
        &Next {
            cursor: move;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
            }
        }
    }

.pages__viewportLayerPage {
    }
    .pages__viewportLayerPageIn {
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        }
