<div class="pages">
    <div class="pages__viewport">

        <div class="pages__viewportLayer">
            <div class="pages__viewportLayerPage">{{module "map"}}</div>
            <div class="pages__viewportLayerPage">{{module "stats"}}</div>
            <div class="pages__viewportLayerPage">{{module "achive"}}</div>
            <div class="pages__viewportLayerPage">{{module "ratings"}}</div>
        </div>
    </div>

    <div class="pages__thumbs">
        <div class="pages__thumbsWrap"></div>
    </div>
</div>