.leaflet-popup {
    }
    .leaflet-popup-inner {
        opacity: 1;
        top: -10px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            display: block;
            width: 0;
            height: 0;
            margin-left: -8px;
            left: 50%;
            }
        &:before {
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid #fff;
            }
        &:after {
            margin-top: -3px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 12px solid #3f6371;
            }
        }
        .leaflet-container a.leaflet-popup-close-button {
            border-radius: 4px;
            color: #7c99a1;

            &:hover {
                color: #fff;
                background-color: transparent;
                }
            &:active {
                color: #fff;
                background-color: #2b4a57;
                }
            }
        .leaflet-popup-content-wrapper {
            background-color: #3f6371;
            border: 2px solid #fff;
            border-radius: 8px;
            }
            .leaflet-popup-content {
                white-space: normal;
                margin: 14px !important;
                }
                .dg-popup__container-wrapper {
                    }
        .leaflet-map-pane .leaflet-popup-tip-container {
            display: none;
            }
