<header class="header">

    <div class="header__menu">
        <nav class="menu">
            <!-- -->
        </nav>
    </div>

    <div class="header__level">{{level}}</div>

    <h1 class="header__title">Рейтинг</h1>

    <div class="header__progress">
        <div class="header__progressVal"></div>
    </div>

</header>

<div class="pages">
    <div class="pages__viewport">

        <div class="pages__viewportLayer">
            <div class="pages__viewportLayerPage">
                <div class="map" id="map"></div>
                <div class="pages__viewportLayerPageIn"></div>
            </div>
            <div class="pages__viewportLayerPage">
                <div class="pages__viewportLayerPageIn"></div>
            </div>
            <div class="pages__viewportLayerPage">
                <div class="pages__viewportLayerPageIn">
                    <div class="achievements">

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                        <div class="achievements__item">
                            <div class="achievements__itemIcon"></div>
                            <div class="achievements__itemDesc">
                                <div class="achievements__itemDescTitle">Школьница</div>
                                <div class="achievements__itemDescText">5 твитов за час</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pages__viewportLayerPage">
                <div class="pages__viewportLayerPageIn"></div>
            </div>
        </div>
    </div>

    <div class="pages__thumbs">
        <div class="pages__thumbsLayer"></div>
    </div>
</div>

<div class="single"></div>

<!-- <div class="popup"></div> -->
