<div class="register__in">
    <div class="register__logo"></div>

    <div class="register__email">
        <input type="text" class="register__emailSelf" placeholder="email">
        <span class="register__emailIcon"></span>
    </div>

    <!-- <div class="register__social">
        <span class="register__socialItem _tw"></span>
        <span class="register__socialItem _fs"></span>
        <span class="register__socialItem _fb"></span>
        <span class="register__socialItem _vk"></span>
    </div> -->

    <button class="register__submit" type="submit">Поехали</button>

    <div class="register__tip">
        Здесь должен быть какой-то красивый текст или не должен быть
    </div>
</div>
