<div class="register__logo"></div>
<div class="register__social">
    {{#each socials}}
    <a href="{{{auth_url}}}" class="register__socialItem _{{short_code}}"></a>
    {{/each}}
    <!-- <span class="register__socialItem _fs"></span>
    <span class="register__socialItem _fb"></span>
    <span class="register__socialItem _vk"></span> -->
</div>

<div class="register__tip">
    Привяжите хотя бы одну социальную сеть
</div>