<div class="stats__class" data-level="{{total_metric.level}}">
    <div class="stats__classIcon {{class_type}}"></div>
</div>

<div class="stats__person">
    <div class="stats__personName">
        {{name}} {{last_name}}
    </div>
    <div class="stats__personClassName">
        {{class_status}}
    </div>
</div>

<div class="stats__listContainer">

</div>

<div class="stats__share">
    <div class="stats__shareTitle">Поделиться</div>
    <ul class="stats__shareSocials">
        <li class="stats__shareSocialsItem _fb"></li>
        <li class="stats__shareSocialsItem _tw"></li>
        <li class="stats__shareSocialsItem _vk"></li>
    </ul>
</div>
