.statItem {
	position: relative;
	width: 60%;
	height: 16px;
	margin-left: 40%;
	margin-bottom: 10px;
	background: #e1e1e5;
	border-radius: 3px;
	text-align: left;

	&:before {
		width: 100%;
		bottom: 0;
		position: absolute;
		margin-left: -66.66%;
		content: attr(data-stat-name);
		font: 17px/16px 'ComfortaaReg', Helvetica, Arial, sans-serif;
		color: #3e6372;
		}
	&._highest {

		}
	}
	.statItem__progress {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 6px;
		text-align: right;
		height: 16px;
		background: #ff6900;
		border-radius: 3px;
		font: 10px/17px 'ComfortaaBold', Helvetica, Arial, sans-serif;
		color: #7f3400;
		z-index: 2;
		position: relative;

		.statItem._highest & {
			background: #fad920;
			color: #7d6c10;
			}
		}