.stats {
	padding: 0 22px;
	}
	.stats__class {
		width: 130px;
		height: 130px;
		border-radius: 50%;
		background: #3e6372;
		margin: 20px auto 27px auto;
		position: relative;
		text-align: center;

		&:before {
			color: #3e6372;
			border-radius: 50%;
			position: absolute;
			content: attr(data-level);
			top: 58px;
			right: -8px;
			border: 2px solid #3e6372;
			background: #fff;
			width: 21px;
			height: 21px;
			font: 11px/22px 'ComfortaaBold', Helvetica, Arial, sans-serif;
			z-index: 1
			}
		}
		.stats__classIcon {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;

			&:before {
				left: 50%;
				position: absolute;
				content: '';
				}
			&._luckyPlayer:before,
			&._dzhigurda:before {
				background: url(images/classes_01.svg) no-repeat;
				width: 80px;
				height: 125px;
				margin-left: -36px;
				top: 6px;
				}
			&._lifehacker:before {
				background: url(images/classes_02.svg) no-repeat;
				width: 80px;
				height: 107px;
				margin-left: -40px;
				top: 24px;
				}
			&._megaFucker:before,
			&._nerdAthlet:before {
				background: url(images/classes_03.svg) no-repeat;
				width: 80px;
				height: 125px;
				margin-left: -38px;
				top: 6px;
				}
			&._cernWatcher:before {
				background: url(images/classes_04.svg) no-repeat;
				width: 99px;
				height: 114px;
				margin-left: -49px;
				top: 18px;
				}
			&._britishScientist:before {
				background: url(images/classes_05.svg) no-repeat;
				width: 80px;
				height: 110px;
				margin-left: -40px;
				top: 20px;
				}
			&._timeTraveler:before {
				background: url(images/classes_08.svg) no-repeat;
				width: 83px;
				height: 123px;
				margin-left: -42px;
				top: 18px;
				}
			&._hippy:before {
				background: url(images/classes_09.svg) no-repeat;
				width: 80px;
				height: 128px;
				margin-left: -40px;
				top: 22px;
				}
			&._charming:before {
				background: url(images/classes_06.svg) no-repeat;
				width: 80px;
				height: 107px;
				margin-left: -40px;
				top: 22px;
				}
			&._barschevsky:before {
				background: url(images/classes_07.svg) no-repeat;
				width: 80px;
				height: 103px;
				margin-left: -40px;
				top: 27px;
				}
			&._injun:before {
				background: url(images/classes_09.svg) no-repeat;
				width: 80px;
				height: 128px;
				margin-left: -38px;
				top: 10px;
				}
			&._professorOfBotany:before {
				background: url(images/classes_10.svg) no-repeat;
				width: 80px;
				height: 122px;
				margin-left: -40px;
				top: 10px;
				}
			&._handyman:before {
				background: url(images/classes_11.svg) no-repeat;
				width: 80px;
				height: 110px;
				margin-left: -40px;
				top: 20px;
				}
			&._goodNatured:before,
			&._fool:before {
				background: url(images/classes_12.svg) no-repeat;
				width: 80px;
				height: 104px;
				margin-left: -40px;
				top: 26px;
				}
			&._karate:before {
				background: url(images/classes_13.svg) no-repeat;
				width: 80px;
				height: 120px;
				margin-left: -40px;
				top: 10px;
				}
			&._masterOfExcuses:before,
			&._pickuper:before {
				background: url(images/classes_14.svg) no-repeat;
				width: 80px;
				height: 111px;
				margin-left: -40px;
				top: 20px;
				}
			&._vdvIntellectual:before {
				background: url(images/classes_15.svg) no-repeat;
				width: 80px;
				height: 98px;
				margin-left: -40px;
				top: 32px;
				}
			}
	.stats__person {
		text-align: center;
		margin-bottom: 23px;
		}
		.stats__personName {
			font: 25px/25px 'ComfortaaReg', Helvetica, Arial, sans-serif;
			margin-bottom: 11px;
			color: #3e6372; 
			}
		.stats__personClassName {
			color: #7c99a1;
			font: 17px/25px 'ComfortaaReg', Helvetica, Arial, sans-serif;
			}
	.stats__list {
		margin-bottom: 16px;
		}
	.stats__share {
		}
		.stats__shareTitle {
			font: 17px/25px 'ComfortaaReg', Helvetica, Arial, sans-serif;
			color: #3e6372;
			text-align: center;
			margin-bottom: 10px;
			}
		.stats__shareSocials {
			text-align: justify;
			line-height: 0;
			white-space: normal;
			margin-bottom: 10px;

			&:after {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				content: '';
				}
			}
			.stats__shareSocialsItem {
				width: 30%;
				height: 50px;
				position: relative;
				display: inline-block;
				border-radius: 4px;
				vertical-align: top;
				text-indent: -999px;
				cursor: pointer;

				&:hover {
					opacity: .9;
					}
				&:active {
					top: 1px;
					}

				&._fb {
					background: #3b5998;

					&:before {
						background: url(images/social_fb.png) center no-repeat;
						content: '';
						width: 12px;
						height: 24px;
						background-size: 12px 24px;
						}
					}

				&._tw {
					background: #55acee;

					&:before {
						background: url(images/social_tw.png) center no-repeat;
						content: '';
						width: 24px;
						height: 20px;
						background-size: 24px 20px;
						}
					}

				&._vk {
					background: #336d8f;

					&:before {
						background: url(images/social_vk.png) center no-repeat;
						content: '';
						width: 15px;
						height: 20px;
						background-size: 15px 20px;
						}
					}
				&:before {
					position: absolute;
					content: '';
					margin: auto;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					
					}
				}








