<div class="stats">
	<div class="stats__class" data-level="{{levelValue}}">
		<img src="{{classIconUrl}}" alt="{{className}}" class="stats__classIcon">
	</div>

	<div class="stats__person">
		<div class="stats__personName">
			{{personName}}
		</div>
		<div class="stats__personClassName">
			{{className}}
		</div>
	</div>

	<ul class="stats__list">
		<!-- {{#each statsItem}}
			{{module "statProgress"}}
		{{/each}} -->
		<li class="statItem _highest" data-stat-name="{{statName}}" style="">
			<div class="statItem__progress" style="width:{{progressValue}}%">{{progressValue}}</div>
		</li>
		<li class="statItem" data-stat-name="{{statName}}" style="">
			<div class="statItem__progress" style="width:{{progressValue}}%">{{progressValue}}</div>
		</li>
		<li class="statItem _highest" data-stat-name="{{statName}}" style="">
			<div class="statItem__progress" style="width:{{progressValue}}%">{{progressValue}}</div>
		</li>
		<li class="statItem" data-stat-name="{{statName}}" style="">
			<div class="statItem__progress" style="width:{{progressValue}}%">{{progressValue}}</div>
		</li>
	</ul>
</div>