.rating {
    width: 100%;
    text-align: left;
    }

    .rating__item {
        position: relative;
        min-height: 56px;
        padding: 24px 15px 10px 110px;
        border-bottom: 1px solid #e1e1e5;

        &:last-child {
            border: 0;
            }
        }

        .rating__itemCharacter {
            position: absolute;
            top: 14px;
            left: 22px;
            width: 56px;
            height: 56px;
            border-radius: 28px;
            background: #ccc;

            &:before {
                position: absolute;
                top: 16px;
                left: 48px;
                content: attr(data-level);
                width: 22px;
                height: 22px;
                border: 2px solid #3e6372;
                border-radius: 13px;
                background: #fafaff;
                font: 10px/24px 'Comfortaa', Helvetica, Arial, sans-serif;
                color: #3e6372;
                z-index: 1;
                text-align: center;
                }

            &:after {
                left: 50%;
                position: absolute;
                content: '';
                bottom: -2px;
                }
            &._luckyPlayer:after,
            &._dzhigurda:after {
                background: url(images/classes_01.svg) no-repeat;
                width: 32px;
                height: 50px;
                margin-left: -16px;
                }
            &._lifehacker:after {
                background: url(images/classes_02.svg) no-repeat;
                width: 32px;
                height: 43px;
                margin-left: -16px;
                }
            &._megaFucker:after,
            &._nerdAthlet:after {
                background: url(images/classes_03.svg) no-repeat;
                width: 32px;
                height: 50px;
                margin-left: -16px;
                }
            &._cernWatcher:after {
                background: url(images/classes_04.svg) no-repeat;
                width: 40px;
                height: 46px;
                margin-left: -20px;
                }
            &._britishScientist:after {
                background: url(images/classes_05.svg) no-repeat;
                width: 32px;
                height: 44px;
                margin-left: -16px;
                }
            &._timeTraveler:after {
                background: url(images/classes_08.svg) no-repeat;
                width: 33px;
                height: 49px;
                margin-left: -17px;
                }
            &._hippy:after {
                background: url(images/classes_09.svg) no-repeat;
                width: 32px;
                height: 51px;
                margin-left: -16px;
                }
            &._charming:after {
                background: url(images/classes_06.svg) no-repeat;
                width: 32px;
                height: 43px;
                margin-left: -16px;
                }
            &._barschevsky:after {
                background: url(images/classes_07.svg) no-repeat;
                width: 32px;
                height: 41px;
                margin-left: -16px;
                }
            &._injun:after {
                background: url(images/classes_09.svg) no-repeat;
                width: 32px;
                height: 51px;
                margin-left: -16px;
                }
            &._professorOfBotany:after {
                background: url(images/classes_10.svg) no-repeat;
                width: 32px;
                height: 49px;
                margin-left: -16px;
                }
            &._handyman:after {
                background: url(images/classes_11.svg) no-repeat;
                width: 32px;
                height: 44px;
                margin-left: -16px;
                }
            &._goodNatured:after,
            &._fool:after {
                background: url(images/classes_12.svg) no-repeat;
                width: 32px;
                height: 42px;
                margin-left: -16px;
                }
            &._karate:after {
                background: url(images/classes_13.svg) no-repeat;
                width: 32px;
                height: 48px;
                margin-left: -16px;
                }
            &._masterOfExcuses:after,
            &._pickuper:after {
                background: url(images/classes_14.svg) no-repeat;
                width: 32px;
                height: 44px;
                margin-left: -16px;
                }
            &._vdvIntellectual:after {
                background: url(images/classes_15.svg) no-repeat;
                width: 32px;
                height: 39px;
                margin-left: -16px;
                }
            }

        .rating__itemName {
            font: 17px/19px 'Comfortaa', Helvetica, Arial, sans-serif;
            color: #3e6372;
            margin: 0 0 2px;
            }

        .rating__itemDesc {
            font: 11px/19px 'Comfortaa', Helvetica, Arial, sans-serif;
            color: #7c99a1;
            }
