.balloon__placeName {
    color: #fafaff;
    font: normal 21px/1.1em 'Comfortaa', Arial, sans-serif;
    margin: 0 0 4px 0;
    }
    .balloon__statList {
        }
        .balloon__stat {
            font: normal 16px/1.2em 'ComfortaaBold', Arial, sans-serif;
            color: #fafaff;
            opacity: 0.5;
            }
